<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暂无标题</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/common.js"></script>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
</head>

<body>
<header class="comhead">
  <div class="main">
    <p>购物车</p>
    <a class="a1" href="#">返回</a>
    <a class="a3" href="#">编辑</a>
  </div>
</header>
<div class="comhead_bg"></div>
<!--header END-->
<section class="loginbox">
  <div class="main pt20 pb40">
    <p class="fs10 ta-c pt20 fs15 red">支付成功！</p>
    <p class="ta-c fs08 c9 pt20">您已成功付款1000.00元！</p>
    <a class="loginbtn" href="#">查看订单</a>
    <a class="loginbtn" href="#">返回首页</a>
  </div>
</section>


</body>
</html>
