<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暂无标题</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/common.js"></script>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
</head>

<body>
<header class="comhead">
  <div class="main">
    <p>购物车</p>
    <a class="a1" href="#">返回</a>
    <a class="a3" href="#">编辑</a>
  </div>
</header>
<div class="comhead_bg"></div>
<!--header END-->
<section class="whitebg">
  <menu class="myorder_info mainbox">
    <p><span class="c7">订单日期：</span>2015-05-28</p>
    <p><span class="c7">订单总价：</span>2333.00</p>
    <p><span class="c7">订单编号：</span>05522<span class="fc">（已取消）</span></p>
    <p><span class="c7">支付方式：</span>货到付款<span class="red">（未支付）</span></p>
    <p><span class="c7">配送方式：</span>顺丰速运</p>
  </menu>
</section>
<section class="whitebg" style="margin-top:1px;">
  <menu class="myorder_info mainbox">
    <p><span class="c7">收货人：</span>2015-05-28</p>
    <p><span class="c7">手机号码：</span>2333.00</p>
    <p><span class="c7">地址：</span>云南省昆明市西山区</p>
    <p><span class="c7">发票抬头：</span>丫丫手机网</p>
  </menu>
</section>
<p class="ta-c lh40">商品清单</p>
<menu class="whitebg mymenu_list">
  <a href="#">
    <b><img src="images/img01.png" /></b>
    <p>我是商品的标题文字哦<span class="sp1">￥15599</span></p>
    <p class="p1">规格：我是说明的文字哦<span class="sp2">X1</span></p>
    <div class="clear"></div>
  </a>
  <a href="#">
    <b><img src="images/img01.png" /></b>
    <p>我是商品的标题文字哦<span class="sp1">￥15599</span></p>
    <p class="p1">规格：我是说明的文字哦<span class="sp2">X1</span></p>
    <div class="clear"></div>
  </a>
  <a href="#">
    <b><img src="images/img01.png" /></b>
    <p>我是商品的标题文字哦<span class="sp1">￥15599</span></p>
    <p class="p1">规格：我是说明的文字哦<span class="sp2">X1</span></p>
    <div class="clear"></div>
  </a>
  <a href="#">
    <b><img src="images/img01.png" /></b>
    <p>我是商品的标题文字哦<span class="sp1">￥15599</span></p>
    <p class="p1">规格：我是说明的文字哦<span class="sp2">X1</span></p>
    <div class="clear"></div>
  </a>
  <a href="#">
    <b><img src="images/img01.png" /></b>
    <p>我是商品的标题文字哦<span class="sp1">￥15599</span></p>
    <p class="p1">规格：我是说明的文字哦<span class="sp2">X1</span></p>
    <div class="clear"></div>
  </a>
</menu>
<section class="whitebg" style="margin-top:1px;">
  <menu class="myorder_info mainbox">
    <p><span class="c7">商品价格：</span>2015-05-28</p>
    <p><span class="c7">邮费：</span>2333.00</p>
    <p><span class="c7">服务费：</span>云南省昆明市西山区</p>
    <p><span class="c7">优惠：</span>￥30.00</p>
    <p class="mt10"><span class="c9">应付总额：</span><span class="red fs11">￥2947.00</span></p>
  </menu>
</section>
<div class="clear h40"></div>
<footer class="comfoot main">
    <a href="#">电脑版</a>
    <a href="#">触屏版</a>
</footer>
<p class="bottext mainbox">Copyright©2015 www.cytm99.com 保留所有版权</p>
<p class="bottext mainbox">滇ICP备0932488号</p>
<div class="buyfoot_bg"></div>
<footer class="buyfoot">
  <div class="mainbox">
    <a class="fl" href="#">付款</a>
    <a class="fr" href="#">评价</a>
    <div class="clear"></div>
  </div>
</footer>
</body>
</html>
